<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">HelpingHands</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
  
        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href=""><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>
  
        <% if (title == "About") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/aboutUs"><i class="fas fa-info-circle"></i> About </a>
        </li>
        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href=""><i class="fas fa-mobile-alt"></i> Contact </a>
        </li>
    </div>
  </nav>
  <body>
    <!-- Use the 'title' property to render a title element  -->
    <form method="POST" action="">
      <div class="row justify-content-center">
        <div class="row justify-content-center">
          <div class="col-auto">
            <table class="table borderless content-center">   
              <thead>
                <tr>
                  <th scope="col">Client Name</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Comment</th>
                  <th scope="col">Recommended</th>
                </tr>
              </thead>          
                <% services.forEach(function(services){ %>
                    <tbody>
                        <tr>
                          <td><input readonly class="border-0" type="text" name="customer" 
                            value="<%= services.client.fullName %> " />
                          </td>
                          <td><input readonly class="border-0" type="text" name="rating" 
                              value="<%= services.review.rating %>/5" />
                            </td>
                            <td><input readonly class="border-0" type="text" name="comment" 
                              value="<%= services.review.comment %>" />
                            </td>
                          <td>
                            <%if (services.review.recommend ==false) { %>
                              <input readonly class="border-0" type="text" name="recommend" 
                              value="No" />
                            <% } 
                            else{ %>
                              <input readonly class="border-0" type="text" name="recommend" 
                              value="Yes" />
                            <%}%>
                           </td> 
                          <!-- <td><input readonly class="border-0" type="text" name="recommend" 
                            value="<%= services.review.recommend %>" />
                          </td>  -->
                        </tr>                       
                      </tbody>             
                <% })%>     
            </table>
          </div>        
        </div>
    </div>
    </form>    
    <div class="text-center">
      <a href="/"> Main Page</a>
  </div>   
  </body>
</div>
<div>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; bottom: 0; width: 98%;  margin-left: 1%; margin-right: 1%;">
      <h6 class="display-6 navbar-text">&copy; Team003-COMP231 Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>
</div>
</html>