<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<!-- Use the 'title' property to render a title element  -->
<h1 class="text-center"> Available Requests</h1><br>
  <form method="POST" action="/editBooking">
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <div class="col-auto">
          <table class="table borderless content-center">   
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Service Type</th>
                <th scope="col">Service Date</th>
                <th scope="col">Date Created</th>
                <th scope="col">Current Status</th>
                <th scope="col"></th>
              </tr>
            </thead>          
              <% customers.forEach(function(customers){ %>
                  <tbody>
                      <tr>
                        <td><input readonly class="border-0" type="text" name="fullName" 
                            value="<%= customers.client.firstName + ' ' + customers.client.lastName %>" />
                        </td>    
                        <td><textarea readonly class="border-0" rows="3" cols="40" wrap="soft" name="address" ><%= customers.addressLine1 + ", " + 
                            customers.addressLine2 + ", " +  
                            customers.city + ", " + 
                            customers.province + ", " + 
                            customers.postalCode %>
                          </textarea>
                        </td>   
                        <td><input size="10" readonly class="border-0" type="text" name="serviceType" 
                            value="<%= customers.serviceType %>" />
                        </td>  
                        <td><input size="10" readonly class="border-0" type="text" name="serviceDate" 
                            value="<%= customers.serviceDate %>" />
                        </td>  
                        <td><input size="10" readonly class="border-0" type="text" name="date" 
                            value="<%= customers.date.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %> %>" />
                        </td>  
                        <td><input size="10" readonly class="border-0" type="text" name="status" 
                          value="<%= customers.status %>" />
                        </td>  
                        <% if(customers.status == 'Requested'){ %>
                          <td><input class="btn btn-success" type="submit" formaction="/availableBookings/<%= customers._id %>?_method=PUT" method="POST" value="Accept" /></td>
                          <% } 

                        else{ %>
                          <td><input class="btn btn-secondary" type="submit" disabled value="Accepted" /></td>
                          <% } %>                          
                      </tr>                       
                    </tbody>        
              <% })%>     
          </table>
        </div>          
      </div>
  </div>
  </form>    
  <div class="text-center">
    <a href="/"> Home Page</a>
</div>   
</body>
</html>